* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* 밝은 색상 추가 */
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 100px; /* Footer 때문에 공간 확보 */
    margin-left: 100px;
    margin-right: 100px;
}

.top-image {
    margin-top: 10px; /* 원하는 상단 여백 설정 */
}

.left-column {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: flex-start; /* 수정: top 대신 flex-start */
    align-items: flex-start; /* 수정: top 대신 flex-start */
    position: relative;
}

.right-column {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.right-column .image-container img:nth-child(n+3) {
    margin-top: 5px;   /* 위쪽 여백 */
    margin-bottom: 5px; /* 아래쪽 여백 */
    /* 좌우 간격은 0으로 설정 (기본값) */
}

.image-text-container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.content-text-container {
    font-size: 40px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 20px 0;
}

.text-container {
    background-color: #4350AF;
    color: white;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
}

.phone-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #04C4D9;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.phone-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.phone-footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .left-column, .right-column {
        flex: none;
        width: 100%;
    }
    .image-container img {
        width: 100%;
        height: auto;
    }
    .text-container {
        width: 100%;
        box-sizing: border-box;
        padding: 15px; /* 패딩을 줄여 화면 최적화 */
    }
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }
    .image-container {
        overflow: hidden;
    }
    .content-text-container {
        font-size: 30px; /* 작은 화면에서 텍스트 크기 조정 */
        padding: 15px 0; /* 패딩 조정 */
    }
}